@font-face {
  font-family: 'Roboto Condensed';
  src: url(https://fonts.googleapis.com/css?family=Roboto+Condensed) format("truetype");
}

.dict-popup {
    position: absolute;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 300px;
    min-height: 60px;
    color: black;
    background-color: #fbf2d4;
    padding: 8px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 13px;
    text-align: left;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif, 'Roboto Condensed';
    font-size: 12px;
    line-height: 1em;
}

.dict-popup::selection {
    color: #fbffbf;
    background-color: black;
}

.dict-popup .dict-word {
    color: #124b62;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 8px;
    margin-top: 3px;
}

.dict-popup ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.4em;
}
a {
    //color: blue;
}
a.more_link {
    color: blue;
    font-size: 9px;
    float: right;
}
a.more_link:link, a.more_link:visited {
    text-decoration: none;

}

a.more_link:hover, a.more_link:active {
    text-decoration: underline;
}
