@font-face {
  font-family: 'Roboto Condensed';
  src: url(https://fonts.googleapis.com/css?family=Roboto+Condensed) format("truetype");
}

.dict-popup {
    position: absolute;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 300px;
    min-height: 60px;
    color: black;
    background-color: #fbffbf;
    padding: 8px;
    padding-top: 3px;
    font-size: 13px;
    text-align: left;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
    z-index: 999;
    font-family: 'Roboto Condensed', sans-serif;
}

.dict-popup .dict-word {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 3px;
}

.dict-popup ul {
    list-style-type: disc;
    padding-left: 20px;
}